{{ define "pages/smtp/index.html" }}
{{ template "partials/begin.html" }}
{{ template "partials/header.html" }}

<div class="container mx-auto max-w-5xl flex-grow pt-6 px-2 prose">
  <h1>Smtps</h1>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Server</th>
          <th>Port</th>
          <th>Email</th>
          <th>User</th>
          <th>Default</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{range .listSmtp}}
        <tr>
          <th>{{ .ID }}</th>
          <td>{{ .Name }}</td>
          <td>{{ .Server }}</td>
          <td>{{ .Port }}</td>
          <td>{{ .Email }}</td>
          <td>{{ .User }}</td>
          <td>{{ .Default }}</td>
          <td>
            <form method="POST" action="/smtp/delete">
              <input name="smtp_id" type="hidden" value="{{ .ID }}">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>

{{ template "partials/footer.html" }}
{{ template "partials/end.html" }}
{{ end }}