{{ define "partials/header.html" }}
<div class="navbar bg-neutral-content">
  <div class="container mx-auto max-w-5xl flex gap-6 justify-center">
    <a class="hidden sm:block text-2xl" href="/">
      <h2>Api Email Client</h2>
    </a>
    <div class="flex gap-4 flex-grow">
      <a href="/smtp" class="text-xl underline">Smtp</a>
      <a href="/smtp/register" class="text-xl underline">Smtp Register</a>
      <a href="/template" class="text-xl underline">Template</a>
      <a href="/template/register" class="text-xl underline">Template Register</a>
      <a href="/template/hermes" class="text-xl underline">Template Register</a>
      <a href="/email" class="text-xl underline">Email</a>
      <a href="/email/send_email" class="text-xl underline">Email Send</a>
      <a href="/about" class="text-xl underline">About</a>
      <a href="/logout" class="text-xl underline">Logout</a>
    </div>
  </div>
</div>
{{ end }}