{{ define "pages/email.html" }}
{{ template "partials/begin.html" }}
{{ template "partials/header.html" }}

<div class="container mx-auto max-w-5xl flex-grow pt-6 px-2 prose">
  <h1>Email</h1>

  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>To</th>
          <th>From</th>
          <th>Smtp Name</th>
          <th>Subject</th>
          <th>Sent At</th>
        </tr>
      </thead>
      <tbody>
        {{range .listEmail}}
        <tr>
          <th>{{ .ID }}</th>
          <td>{{ .To }}</td>
          <td>{{ .From }}</td>
          <td>{{ .SmtpName }}</td>
          <td>{{ .Subject }}</td>
          <td>{{ .SentAt.Format "2006-01-02 15:04:05" }}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>

{{ template "partials/footer.html" }}
{{ template "partials/end.html" }}
{{ end }}