{{ define "pages/smtp.html" }}
{{ template "partials/begin.html" }}
{{ template "partials/header.html" }}

<div class="container mx-auto max-w-5xl flex-grow pt-6 px-2 prose">
  <h1>Smtp</h1>
  <form method="POST">
    <div class="grid grid-cols-2 gap-4">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input name="name" type="text" placeholder="Type here" value="{{ .name }}"
          class="input input-bordered w-full" />
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input name="email" type="text" placeholder="Type here" value="{{ .email }}"
          class="input input-bordered w-full" />
      </div>
      <div class="flex gap-2">
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Server</span>
          </label>
          <input name="server" type="text" placeholder="Type here" value="{{ .server }}"
            class="input input-bordered w-full" />
        </div>
        <div class="form-control w-24">
          <label class="label">
            <span class="label-text">Port</span>
          </label>
          <input name="port" type="text" placeholder="000" value="{{ .port }}" class="input input-bordered w-full" />
        </div>
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">User</span>
        </label>
        <input name="user" type="text" placeholder="Type here" value="{{ .user }}"
          class="input input-bordered w-full" />
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input name="password" type="password" placeholder="Type here" value="{{ .password }}"
          class="input input-bordered w-full" />
      </div>
      <div class="form-control justify-end">
        <label class="label cursor-pointer">
          <span class="label-text">Make Default</span>
          {{ if .make_default }}
          <input name="make_default" type="checkbox" class="checkbox" checked />
          {{ else }}
          <input name="make_default" type="checkbox" class="checkbox" />
          {{ end }}
        </label>
      </div>
      <div class="flex items-end justify-end">
        <button class="btn btn-primary w-1/2" type="submit">Save</button>
      </div>
    </div>
  </form>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Server</th>
          <th>Port</th>
          <th>Email</th>
          <th>User</th>
          <th>Default</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{range .listSmtp}}
        <tr>
          <th>{{ .ID }}</th>
          <td>{{ .Name }}</td>
          <td>{{ .Server }}</td>
          <td>{{ .Port }}</td>
          <td>{{ .Email }}</td>
          <td>{{ .User }}</td>
          <td>{{ .Default }}</td>
          <td>
            <form method="POST" action="/smtp/delete">
              <input name="smtp_id" type="hidden" value="{{ .ID }}">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>

{{ template "partials/footer.html" }}
{{ template "partials/end.html" }}
{{ end }}