{{ define "pages/template/index.html" }}
{{ template "partials/begin.html" }}
{{ template "partials/header.html" }}

<div class="container mx-auto max-w-5xl flex-grow pt-6 px-2 prose">
  <h1>Templates</h1>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Subject</th>
          <th>TemplateHtml</th>
          <th>TemplateText</th>
        </tr>
      </thead>
      <tbody>
        {{range .listTemplate}}
        <tr>
          <th>{{ .ID }}</th>
          <td>{{ .Name }}</td>
          <td>{{ .Subject }}</td>
          <td>{{ .TemplateHtml }}</td>
          <td>{{ .TemplateText }}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>

{{ template "partials/footer.html" }}
{{ template "partials/end.html" }}
{{ end }}