{{ define "pages/template/register.html" }}
{{ template "partials/begin.html" }}
{{ template "partials/header.html" }}

<div class="container mx-auto max-w-5xl flex-grow pt-6 px-2 prose">
  <h1>Novo Template</h1>
  <form method="POST">
    <div class="grid grid-cols-2 gap-4">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input name="name" type="text" placeholder="Type here" value="{{ .name }}"
          class="input input-bordered w-full" />
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Subject</span>
        </label>
        <input name="name" type="text" placeholder="Type here" value="{{ .name }}"
          class="input input-bordered w-full" />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Html Template</span>
        </label>
        <textarea class="textarea textarea-bordered h-24" placeholder="<h1>Hello , {{ `{{ .Name }}` }}</h1>"></textarea>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Text Template</span>
        </label>
        <textarea class="textarea textarea-bordered h-24" placeholder="Hello World"></textarea>
      </div>
      <div class="flex items-end justify-end">
        <button class="btn btn-primary w-1/2" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>

{{ template "partials/footer.html" }}
{{ template "partials/end.html" }}
{{ end }}